<%= stylesheet_link_tag 'open/specific-annotation' %>

<header class="header-spec-annot">
  <div class="header-spec-title">
    <h2>Title very long</h2>
    <%= image_tag 'svg/back-arrow' %>
  </div>
  <p>xx/xx/xxxx</p>
  <div class="tags">
    <p>#dfjj</p>
  </div>
</header>

<section class="content-spec-annot">
  <div class="container-spec-annot">
    <p>lfkdjsfkls</p>
  </div>
</section>

<section class="share-spec-annot">
  <div class="share-button-spec-annot">
    <%= image_tag 'svg/share' %>
  </div>
</section>

<%= render "shared/footer" %>