.tag {
  padding: .5rem 1.5rem;
  background: var(--bg_gray_tags);
  border: 3px solid var(--border_gray_tags);
  border-style: dashed;
  border-radius: .5rem;
  color: var(--black_txt_tags);
}

@media screen and (max-width: 800px) {
  .tag {
    padding: .2rem .5rem;
  }
}