<%= stylesheet_link_tag 'anotation' %>

<div class="anotation">
  <h2>Title very long dfjlaks</h2>
  <p>xx/xx/xx</p>
  <div class="container-tags">
    <%= render  "shared/tag", tag: '#ruby'%>
    <%= render  "shared/tag", tag: '#rubyOnRails' %>
    <%= render  "shared/tag", tag: '#tecnico' %>
  </div>
  <span>
    In today's rapidly evolving business landscape, 
    organizations are recognizing the critical importance 
    of nurturing their most valuable asset: their people. 
    This article explores the pivotal role of a People 
    Developer in driving organizational growth and success.
  </span>
</div>