<%= stylesheet_link_tag 'shared/header-anotations' %>

<header>
  <div class="container-links">
    <%= render  "shared/icon-link", text: 'Home', icon: 'home', route: '/'%>
    <%= render  "shared/icon-link", text: 'Anotações', icon: 'notes', route: '/my_anotations' %>
    <%= render  "shared/icon-link", text: 'Tags', icon: 'tag', route: '/my_anotations/tags'%>
  </div>
</header>