<%= stylesheet_link_tag 'icon' %>

<%= link_to "#{route}", class: "icon-link" do %>
  <div class="only-icon">
    <%= image_tag "svg/#{icon}.svg" %>
  </div>
  <div class="description-icon">
    <p>
      <%= text %>
    </p>
  </div>
<% end %>