<%= stylesheet_link_tag 'icon' %>

<a href="<%= url %>", class="icon-link", target="_blank">
    <div class="only-icon">
      <%= image_tag "svg/#{icon}.svg" %>
    </div>
    <div class="description-icon">
      <p>
        <%= text %>
      </p>
    </div>
</a>