<%= stylesheet_link_tag 'icon' %>

<div class="icon-link">
  <div class="only-icon">
    <%= image_tag 'svg/notes.svg' %>
  </div>
  <div class="description-icon">
    <p>anotation</p>
  </div>
</div>