.header-spec-annot {
  margin-top: 5rem;
  width: 100%;
  height: 30vh;
  background: var(--mid_gray);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.header-spec-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header-spec-title h2 {
  font-size: 2.5rem;
}

.header-spec-title img {
  width: 1.5rem;
}

.content-spec-annot {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-spec-annot p {
  margin: 2rem 0;
}

.container-spec-annot {
  border-top: 2px solid var(--gray_lines);
  border-bottom: 2px solid var(--gray_lines);
  width: 40%;
  height: 100%;
}

.container-spec-annot code {
  padding: 0 .5rem;
  border-radius: .2rem;
  background: rgb(168, 168, 168);
  font-style: italic;
}

.container-spec-annot blockquote {
  padding: .5rem 1rem;
  border: 2px solid rgba(121, 121, 121, 0.5);
  border-radius: .4rem;
}

.container-spec-annot blockquote:before {
  width: 100%;
  content: 'code';
  color: rgba(77, 77, 77, 0.7);
}

.share-spec-annot {
  margin: 2.5rem 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.share-button-spec-annot {
  width: 3rem;
  height: 3rem;
  background: var(--mid_gray);
  border: 2px solid var(--stroke_button);
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.share-button-spec-annot img {
  width: 1.5rem;
}

.header-spec-annot>.container-tags {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.copy_clipboard {
  padding: .5rem 2rem;
  background: #0ed32f;
  border-radius: .5rem;
  color: #fff;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid rgb(175, 175, 175);
}

.copy_clipboard .container_text {
  padding: .5rem 3rem;
  background: #b3b3b3;
  border-radius: .5rem;
  color: #fff;
  position: absolute;

}


@media screen and (max-width: 800px) {
  .header-spec-title h2 {
    font-size: 1.5rem;
  }

  .header-spec-annot>p {
    font-size: .9rem;
  }

  .container-spec-annot {
    width: 80%;
  }
}