<%= stylesheet_link_tag 'annotations/index-annotations' %>

<header>
  <h2>CMS</h2>
  <%= link_to  "Criar anotação", new_annotation_path %>
</header>

<section class="all-anotations">
  <h2>Todas anotações</h2>
  <div class="container-anotations-cms">

    <div class="anotation-cms">
      <h2>title very long</h2>
      <p>xx/xx/xxxx</p>
      <div class="container-buttons-cms">
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
    </div>
    <div class="anotation-cms">
      <h2>title very long</h2>
      <p>xx/xx/xxxx</p>
      <div class="container-buttons-cms">
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
    </div>
    <div class="anotation-cms">
      <h2>title very long</h2>
      <p>xx/xx/xxxx</p>
      <div class="container-buttons-cms">
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
    </div>

  </div>
</section>

<%= render  "shared/footer" %>