/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root {
  --gray_bg: #F0F0F0;
  --bg_button: #D9D9D9;
  --stroke_button: #CDCDCD;
  --black_txt: #141414;
  --gray_lines: #A4A4A4;
  --black_txt_tags: #232323;
  --bg_gray_tags: #ADADAD;
  --border_gray_tags: #989898;
}

@font-face {
  font-family: Orkney_bold;
  src: url('OrkneyBold.ttf');
}

@font-face {
  font-family: Orkney_regular;
  src: url('OrkneyRegular.ttf');
}

@font-face {
  font-family: Orkney_bold_italic;
  src: url('OrkneyBoldItalic.ttf');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--gray_bg);
  font-family: Orkney_regular;
  text-decoration: none;
}