.apresentation {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
}

.container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.container h2 {
  font-size: 2.5rem;
  font-family: Orkney_bold;
}

.container span {
  font-size: 1.2rem;
  font-family: Orkney_bold_italic;
}

.description {
  width: 90%;
  font-size: 1.3rem;
}

.container-buttons {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buttons {
  width: 10rem;
  height: 3rem;
  border-radius: .5rem;
  background: var(--bg_button);
  border: 2px solid var(--stroke_button);
  display: flex;
  align-items: center;
  gap: .6rem;
  justify-content: center;
}

.buttons img {
  width: 19%;
  background: var(--bg_button)
}

@media screen and (max-width: 800px) {

  .container {
    width: 80%;
  }

  .container h2 {
    font-size: 1.5rem;
    font-family: Orkney_bold;
  }

  .container span {
    font-size: .9rem;
    font-family: Orkney_bold_italic;
  }

  .description {
    width: 80%;
    font-size: 1rem;
    /* background: orange; */
  }

  .buttons {
    font-size: .7rem;
    gap: 0.3rem;
  }

}