<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "../assets/css/main.css" | relative_url }}">
  </head>
  <body class="bg-stone-100 text-gray-950 flex flex-col items-center">
    
    <header class="w-full h-20 bg-stone-200 flex items-center flex justify-between px-16 xl:px-36">
      <a href="/" class="font-Prosto-Sans-Bold">Giovanny Cordeiro</a>
      <a href="/sobre" class="font-Prosto-Sans-italic">Sobre</a>
    </header>
    <main class="w-4/6 mt-24 xl:w-3/6">
      <a href="/" class="italic">Home</a>
      <h2 class="text-3xl mt-2">Sobre mim!</h2>
      <p class="text-base mb-10 mt-2">Giovanny</p>
      <div class="flex flex-col gap-4">
        {{ content }}
      </div>
    </main>
    <aside></aside> 
  </body>
</html>
